<nav class="navbar navbar-expand navbar-light">
    <ul class="nav navbar-nav nav-pills ms-auto">
      <li class="nav-item" style="background-color: none; border-color:black; text-align: center;">
        <a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link menu-item"
          style="color: black;">Search</a>
      </li>
      <li class="nav-item">
        <a routerLink="/bookings" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link menu-item"
          style="color: black;
        text-align:center">My
          Bookings</a>
      </li>
    </ul>
</nav>
