@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


img {
  height: 90px;
  width: 90px;
  object-fit: cover;
}

th {
  font-size: 20px;
  font-size: 90%;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}

tr {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

td {
  word-wrap: break-word;
}



::ng-deep #parent > mat-tab-header {
  background-color:#FDD835;
}
::ng-deep #parent > mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels > .mat-tab-label {
  color: #FDD835;
}
::ng-deep #parent > mat-tab-header > .mat-tab-label-container > .mat-tab-list > mat-ink-bar {
  background-color:#FDD835;
}
