@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

th {
  font-size: 20px;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  word-wrap: break-word;
}

tr {
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
}

td {
  word-wrap: break-word;
}

.button{
  background-color: transparent !important;
  border: none !important;

}
